/* -------------------------------------------------------------------------- */
/* ----| Badge element |----------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* Badge - used to display number of unread feed items, for instance */
.badge {
    @apply flex-none py-0.5 rounded text-xs px-2 ml-2 whitespace-no-wrap;
}

.badge.default {
    color: theme("colors.badge.text");
    background-color: theme("colors.badge.bg");
}

.badge.article {
    @apply mr-2;

    color: theme("colors.badge.text");
    background-color: theme("colors.badge.bg-article");
}

.badge.success {
    color: theme("colors.groups-browser.status.accepted.bg");
    background-color: theme("colors.badge.bg");
}

.badge.warning {
    color: theme("colors.groups-browser.status.joining.bg");
    background-color: theme("colors.badge.bg");
}
