/* -------------------------------------------------------------------------- */
/* ----| Components |-------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

@import "layout.css";
@import "list-items.css";
@import "badge.css";
@import "folders.css";
@import "themes-browser.css";
@import "alerts.css";
@import "about.css";

/* Caret - icon used to expand/collapse elements */
.caret {
    @apply block mr-1 flex-none w-4 h-4;

    color: theme("colors.caret");
}

/* Favicon */
.favicon {
    @apply block mr-1 flex-none rounded-sm w-4 h-4;
}

/* Elements of the menu in account-related pages */
#account-menu-items {
    @apply mt-12 flex items-stretch flex-col;
}

#account-menu-items a {
    @apply py-2 no-underline;

    color: theme("colors.account.menu.item.text");
}

#account-menu-items a.selected {
    color: theme("colors.account.menu.item.selected.text");
}

#account-menu-items a:hover {
    color: theme("colors.account.menu.item.hovered");
}
