/* -------------------------------------------------------------------------- */
/* ----| Layout elements |--------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* Folders tree - the left panel */
#folders-tree {
    @apply w-2/12 h-screen flex flex-col;

    background-color: theme("colors.folders-tree.bg");
}

#tree {
    @apply overflow-auto;
}

#tree-top {
    @apply border-b-2 overflow-auto flex-none;

    max-height: 9rem;
    border-color: theme("colors.folders-tree.separator");
}

/* Bottom of the tree - Holds my account and logout links */
#tree-bottom {
    @apply border-t-2;

    border-color: theme("colors.folders-tree.separator");
}

/* Documents list - the middle panel */
#documents-list {
    @apply w-3/12 h-screen overflow-auto;

    background-color: theme("colors.documents-list");
}

/* Right panel */
#right-panel {
    @apply w-7/12 h-screen flex flex-col;
}

/* Feed items list - top right panel */
#feeditems-list {
    @apply h-4/12 overflow-auto;

    background-color: theme("colors.feeditems-list");
}

/* Details panel - bottom right panel */
#details-view {
    @apply h-8/12 overflow-auto;

    background-color: theme("colors.details-view");
}

/* Left part of account-related pages */
#account-menu {
    @apply h-screen w-1/4 pr-6 flex items-center text-right;

    background-color: theme("colors.folders-tree.bg");
}

/* Right part of account-related pages */
#account-content {
    @apply h-screen flex items-center w-3/4;

    background-color: theme("colors.documents-list");
}

/* Right part of account-related pages - Wrapper */
#account-content-wrapper {
    @apply w-1/4 pl-6;
}

/* Right part of account-related pages - Large wrapper */
#account-content-wrapper.large {
    @apply w-1/2;
}

/* Right part of account-related pages - Title */
#account-content-wrapper h2 {
    @apply text-4xl my-4;
}
