/* -------------------------------------------------------------------------- */
/* ----| List items styling |------------------------------------------------ */
/* -------------------------------------------------------------------------- */

/* Generic list-item - folder, document */
.list-item {
    @apply text-sm p-1 w-full rounded-none text-left flex items-center justify-between no-underline;

    color: theme("colors.list-item.text");
}

/* Item label - folder's, document's title */
.list-item-label {
    @apply flex flex-grow items-center pl-1 truncate;
}

/* Item label - "active" state */
.list-item:hover,
.list-item.selected {
    color: theme("colors.list-item.active.text");
    background-color: theme("colors.list-item.active.bg");
}

/* Item label - being dragged over */
.list-item.dragged-over {
    background-color: theme("colors.list-item.dragged-over.bg");
}

/* Item label - being dragged over but drop not allowed/possible */
.list-item.dragged-over.cannot-drop {
    @apply cursor-not-allowed;

    background-color: theme("colors.list-item.cannot-drop.bg");
}

/* Feed item specific */
.feed-item {
    @apply px-2 py-1 w-full rounded-none text-left block no-underline;

    color: theme("colors.feed-item.text");
}

.feed-item:hover,
.feed-item.selected {
    color: theme("colors.feed-item.active.text");
    background-color: theme("colors.feed-item.active.bg");
}

/* Feed item - read state */
.feed-item.read {
    color: theme("colors.feed-item.read");
}

.feed-item-label {
    @apply leading-normal text-justify tracking-wide;
}

/* Feed item's meta data */
.feed-item-meta {
    @apply text-xs flex items-center mt-1;

    color: theme("colors.feed-item.meta");
}

.highlight {
    @apply rounded px-1;
}
