/* -------------------------------------------------------------------------- */
/* ----| Generic links (anchors) |------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* Normal state */
a {
    @apply underline;

    color: theme("colors.a.normal");
}

/* Hovered */
a:hover {
    color: theme("colors.a.hover");
}
