/* -------------------------------------------------------------------------- */
/* ----| Form elements |----------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* Generic button - normal state */
button,
.button {
    @apply rounded text-sm px-2 py-1 flex items-center whitespace-no-wrap no-underline;

    color: theme("colors.button.text");
}

/* Generic button - hovered */
button:hover,
.button:hover {
    color: theme("colors.button.text");
}

/* Danger style of button */
button.danger,
.button.danger {
    background-color: theme("colors.button.danger.bg");
}

button.danger:hover,
.button.danger:hover {
    background-color: theme("colors.button.danger.bg-hover");
}

/* Success style of button */
button.success,
.button.success {
    background-color: theme("colors.button.success.bg");
}

button.success:hover,
.button.success:hover {
    background-color: theme("colors.button.success.bg-hover");
}

/* Informational style of button */
button.info,
.button.info {
    background-color: theme("colors.button.info.bg");
}

button.info:hover,
.button.info:hover {
    background-color: theme("colors.button.info.bg-hover");
}

/* Secondary style of button */
button.secondary,
.button.secondary {
    background-color: theme("colors.button.secondary.bg");
}

button.secondary:hover,
.button.secondary:hover {
    background-color: theme("colors.button.secondary.bg-hover");
}

/* Form label */
label {
    @apply block mb-2 mt-6;

    color: theme("colors.label.text");
}

label.inline {
    @apply inline my-0 mx-2;
}

/* Group of form elements */
.form-group {
    @apply mb-2 flex;

    color: theme("colors.formGroup.text");
}

.form-group input,
input,
select,
textarea {
    @apply rounded px-2 py-1 flex-grow outline-none;

    color: theme("colors.input.text");
    background-color: theme("colors.input.bg");
}

input[type="color"] {
    @apply p-1;
}
