/* -------------------------------------------------------------------------- */
/* ----| Scrollbars |-------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* The emerging W3C standard
   that is currently Firefox-only */
* {
    scrollbar-width: thin;
    scrollbar-color: theme("colors.scrollbar") transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: theme("colors.scrollbar");
    border-radius: 20px;
    border: 0;
}
